@charset "UTF-8";



/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* ----レスポンシブ（タブレット）---- */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media screen and (min-width: 768px) and (max-width: 1199px) {

    /* --------ハンバーガーメニュー↓↓↓↓ーーーーー */
    .hamburger {
        /* サイズ */
        width: 100%;
        height: 50px;

        /* 配置 */
        position: relative;
        z-index: 2;

        /* 余白 */
        margin-left: auto;
        margin-right: 10px;
        border: none;

        /* 見た目 */
        background: transparent;
        cursor: pointer;

        /* Flex/Grid */
        display: flex;

    }

    .hamburger span {
        /* 配置 */
        position: absolute;
        left: 50%;

        /* サイズ */
        width: 30px;
        height: 3px;

        /* 見た目 */
        background: #000;

        /* アニメーション */
        transform: translateX(-50%);
        transition: 0.3s;
    }

    /* 一番上の棒 */
    .hamburger span:nth-child(1) {
        top: 15px;
    }

    /* 真ん中の棒 */
    .hamburger span:nth-child(2) {
        top: 24px;
    }

    /* 一番下の棒 */
    .hamburger span:nth-child(3) {
        top: 33px;
    }

    /* 一番上の棒 */
    .hamburger.active span:nth-child(1) {
        top: 24px;
        transform: translateX(-50%) rotate(45deg);
    }

    /* 真ん中の棒 */
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    /* 一番下の棒 */
    .hamburger.active span:nth-child(3) {
        top: 24px;
        transform: translateX(-50%) rotate(-45deg);
    }

    /* --------ハンバーガーメニュー↑↑↑ーーーーー */


    /* --------ヘッダー↓↓↓↓ーーーーーーーーーーー */
    header {
        /* Flex/Grid */
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* ハンバーガーメニューを左に寄せた */
        padding-right: 20px;
    }

    header nav {
        /* 見た目 */
        background-color: #91c0e2;
        opacity: 0.8;

        /* サイズ */
        height: 100vh;
        width: 40%;

        /* 文字 */
        color: #fff;

        /* 配置 */
        position: fixed;
        top: 0;
        right: -1500px;
        z-index: 1;

        /* Flex/Grid */
        display: flex;
        justify-content: center;
        align-items: flex-start;

        /* 余白 */
        padding-top: 100px;
        transition: 1s ease-in-out;
    }

    .logo {
        /* 見た目 */
        background: url(../img/logo.jpg) no-repeat center/contain;

        /* サイズ */
        height: 80%;
        width: 90%;
    }


    header nav ul {
        /* Flex/Grid */
        display: inline-block;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        /* サイズ */
        height: fit-content;
    }

    header nav li {
        /* 文字 */
        color: #fff;

        /* 余白 */
        padding: 0;
        margin: 0;

        /* サイズ */
        width: 100%;
        height: fit-content;

        /* 見た目 */
        border-top: 1px solid #0000006e;
    }

    header nav li a {
        /* 文字 */
        color: #000;
        font-size: 16px;

        /* サイズ */
        width: 100%;
        height: 70px;
    }

    .contact-btn {
        /* 文字 */
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        gap: 5px;

        /* 余白 */
        margin-top: 32px;

        /* サイズ */
        width: 300px;
        height: 50px;

    }

    header nav.active {
        /* 配置 */
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;

        /* アニメーション */
        transition: 1s;
    }

    /* --------ヘッダー↑↑↑↑ーーーーーーーーーーー */
}



/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* ----スマートフォン（タブレット）---- */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media screen and (max-width: 767px) {


    /* --------ボディー↓↓↓↓ーーーーーーーーーーー */
    body {
        /* 文字 */
        /* font-family: 'Kiwi Maru', serif; */
        font-family: 'Noto Sans JP', sans-serif;

        /* 余白 */
        margin-top: 60px;
    }


    /* 全体 */
    section:not(.fv) {
        padding-block: clamp(32px, 3vw, 16px);
        padding-inline: clamp(14px, 3vw, 26px);
    }


    .section-title {
        /* 文字 */
        font-size: 32px;
        text-align: center;

        /* 余白 */
        margin-bottom: 32px;
    }

    .section-title::before {
        /* サイズ */
        width: 4px;
        height: 40px;
    }

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* ----TOPへ戻るボタン---- */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.button-top {
    /* 見た目 */
    background-color: #2A5596;
    border-color: transparent;
    border-radius: 50px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, .2);

    /* 余白 */
    padding: 10px 13px;

    /* 配置 */
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;

    /* 文字 */
    color: #fff;
    font-size: 32px;

    /* Flex/Grid */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    /* アニメーション （Javascriptで下から表示）（表示前）*/
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

/* TOPへ戻るボタンの矢印 */
.button-top img {
    /* サイズ */
    width: 25px;
}


    /* --------TOPへ戻るボタン↓↓↓↓ーーーーーーーーーーー */

.button-top {
    /* 余白 */
    padding: 10px 12px;

    /* 文字 */
    color: #fff;
    font-size: 20px;
}

/* TOPへ戻るボタンの矢印 */
.button-top img {
    /* サイズ */
    width: 15px;
}

    /* --------TOPへ戻るボタン↑↑↑ーーーーーーーーーーー */

    /* --------ボディー↑↑↑ーーーーーーーーーーー */



    /* --------ヘッダー↓↓↓↓ーーーーーーーーーーー */

    /* --------ハンバーガーメニュー↓↓↓↓ーーーーー */
    .hamburger {
        /* サイズ */
        width: 100%;
        height: 50px;

        /* 配置 */
        position: relative;
        z-index: 2;

        /* 余白 */
        margin-left: auto;
        margin-right: 10px;
        border: none;

        /* 見た目 */
        background: transparent;
        cursor: pointer;

        /* Flex/Grid */
        display: flex;

    }

    .hamburger span {
        /* 配置 */
        position: absolute;
        left: 50%;

        /* サイズ */
        width: 30px;
        height: 3px;

        /* 見た目 */
        background: #000;

        /* アニメーション */
        transform: translateX(-50%);
        transition: 0.3s;
    }

    /* 一番上の棒 */
    .hamburger span:nth-child(1) {
        top: 15px;
    }

    /* 真ん中の棒 */
    .hamburger span:nth-child(2) {
        top: 24px;
    }

    /* 一番下の棒 */
    .hamburger span:nth-child(3) {
        top: 33px;
    }

    /* 一番上の棒 */
    .hamburger.active span:nth-child(1) {
        top: 24px;
        transform: translateX(-50%) rotate(45deg);
    }

    /* 真ん中の棒 */
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    /* 一番下の棒 */
    .hamburger.active span:nth-child(3) {
        top: 24px;
        transform: translateX(-50%) rotate(-45deg);
    }

    /* --------ハンバーガーメニュー↑↑↑ーーーーー */

    header {
        /* サイズ */
        height: 60px;


        /* Flex/Grid */
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* ハンバーガーメニューを左に寄せた */
        padding-right: 10px;
    }

    header nav {
        /* 見た目 */
        background-color: #91c0e2;
        opacity: 0.8;

        /* サイズ */
        height: 100vh;
        width: 40%;

        /* 文字 */
        color: #fff;

        /* 配置 */
        position: fixed;
        top: 0;
        right: -1500px;
        z-index: 1;

        /* Flex/Grid */
        display: flex;
        justify-content: center;
        align-items: flex-start;

        /* 余白 */
        padding-top: 100px;
        transition: 1s ease-in-out;
    }

    .logo {
        /* 見た目 */
        background: url(../img/logo.jpg) no-repeat center/contain;

        /* サイズ */
        height: 100%;
        width: 70%;
    }


    header nav ul {
        /* Flex/Grid */
        display: inline-block;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        /* サイズ */
        height: fit-content;
    }

    header nav li {
        /* 文字 */
        color: #fff;

        /* 余白 */
        padding: 0;
        margin: 0;

        /* サイズ */
        width: 100%;
        height: fit-content;

        /* 見た目 */
        border-top: 1px solid #0000006e;
    }

    header nav li a {
        /* 文字 */
        color: #000;
        font-size: 16px;

        /* サイズ */
        width: 100%;
        height: 70px;
    }

    .contact-btn {
        /* 文字 */
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        gap: 5px;

        /* 余白 */
        margin-top: 32px;

        /* サイズ */
        width: 300px;
        height: 50px;

    }

    header nav.active {
        /* 配置 */
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;

        /* アニメーション */
        transition: 1s;
    }

    header {
        /* Flex/Grid */
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* ハンバーガーメニューを左に寄せた */
        padding-right: 20px;
    }

    header nav {
        /* 見た目 */
        background-color: #91c0e2;
        opacity: 0.9;

        /* サイズ */
        height: 100vh;
        width: 100%;

        /* 文字 */
        color: #fff;

        /* 配置 */
        position: fixed;
        top: 0;
        right: -1500px;
        z-index: 1;

        /* Flex/Grid */
        display: flex;
        justify-content: center;
        align-items: flex-start;

        /* 余白 */
        padding-top: 100px;
        transition: 1s ease-in-out;
    }

    .logo {
        /* 見た目 */
        background: url(../img/logo.jpg) no-repeat center/contain;

        /* サイズ */
        height: 80%;
        width: 90%;
    }


    header nav ul {
        /* Flex/Grid */
        display: inline-block;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        /* サイズ */
        height: fit-content;
    }

    header nav li {
        /* 文字 */
        color: #fff;

        /* 余白 */
        padding: 0;
        margin: 0;

        /* サイズ */
        width: 100%;
        height: fit-content;

        /* 見た目 */
        border-top: 1px solid #0000006e;
    }

    header nav li a {
        /* 文字 */
        color: #000;
        font-size: 16px;

        /* サイズ */
        width: 100%;
        height: 70px;
    }

    .contact-btn {
        /* 文字 */
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        gap: 5px;

        /* 余白 */
        margin-top: 32px;

        /* サイズ */
        width: 250px;
        height: 50px;

    }

    header nav.active {
        /* 配置 */
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;

        /* アニメーション */
        transition: 1s;
    }


    /* --------ヘッダー↑↑↑ーーーーーーーーーーー */

    /* --------ファーストブュー↓↓↓↓ーーーーーーーーーーー */

    /* スクロールダウンの位置 */
    .scroll {
        /* Flex/Grid */
        display: none;
    }

    /* ファーストビューの全体（文字と写真を横並びにした） */
    .fv {
        /* サイズ */
        width: 100%;
        height: clamp(600px, 10vw, 800px);

        /* 配置 */
        position: relative;
    }

    /* キャッチコピー（左範囲） */
    .fv-container {
        /* サイズ */
        width: 100%;

        /* 見た目 */
        background-image: linear-gradient(150deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 62%, rgba(255, 255, 255, 0));

        /* 配置 */
        position: absolute;
        top: -56px;
        left: 0;
        z-index: 2;
    }


    /* キャッチコピー（左範囲の中身） */
    .fv-detail {
        /* 余白 */
        margin-top: 20px;
        margin-left: 10px;
    }


    .fv-detail p {
        /* 文字 */
        color: #525252;
    }

    /* ファーストブューのイラスト */
    .fv-illust {
        /* Flex/Grid */
        display: none;
    }

    /* キャッチコピー*/
    .fv-container h1 {
        /* 文字 */
        font-size: clamp(32px, 5vw, 80px);
        text-shadow: 2px 3px 3px rgba(77, 77, 77, 0.4);
    }


    /* キャッチコピーの文字 */
    .fv-detail h1 span {
        /* 文字（スプライト柄） */
        color: transparent;
        background: repeating-linear-gradient(45deg, #139dff 0 4px, #AEE8FF 4px 6px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }


    /* fvの詳細（文字サイズ） */
    .fv-container p {
        /* 文字 */
        font-size: clamp(16px, 2vw, 24px);

        /* サイズ */
        width: 90%;

        /* 余白 */
        margin-bottom: 310px;
    }


    /* fvのボタン（レイアウト、文字設定） */
    .fv-a {
        /* サイズ */
        width: 80%;
        max-height: 50px;

        /* 文字 */
        font-size: clamp(16px, 2vw, 24px);
    }

    /* スライドショー */
    .slideshoe {
        /* サイズ */
        width: 100%;
        height: clamp(600px, 10vh, 800px);
    }

    /* --------ファーストブュー↑↑↑↑↑ーーーーーーーーーーー */

    /* --------ご利用にあたってー↓↓↓↓ーーーーーーーーーーー */

    /* ご利用についての全体*/
    .container-notice {
        /* 余白 */
        margin: 0 auto;
    }

    /* ご利用についての赤い外枠 */
    .notice-wrap {
        /* 余白 */
        padding: 10px;
        margin: 0 auto;
    }

    /* ご利用についてのタイトル */
    .notice-wrap h2 {
        /* 余白 */
        margin-bottom: 10px;
        /* 文字 */
        font-size: 20px;

    }

    /* ご利用についての箇条書き */
    .notice-wrap ul {
        /* Flex/Grid */
        display: flex;

        /* 文字 */
        flex-wrap: wrap;

        /* サイズ */
        width: fit-content;

        /* 余白 */
        margin: 0 auto;
        padding-left: 20px;
    }

    .notice-wrap li {
        /* 文字 */
        font-size: 14px;

        /* サイズ */
        max-width: 550px;
    }

    /* --------ご利用にあたってー↑↑↑ーーーーーーーーーーー */

    /* --------サービス内容↓↓↓↓ーーーーーーーーーーー */

    /* 青いカード全て */
    .service-list {
        /* Flex/Grid */
        gap: 56px;
    }

    /* 青いカードの下にある黒文字詳細 （箇条書き全体）*/
    .card ul {
        /* 余白 */
        padding-left: 20px;
    }


    /* 青いカードの下にある黒文字詳細 （箇条書き）*/
    .card li {
        /* 文字 */
        font-size: 14px;
    }


    /* 青いカード */
    .card-top {
        /* 余白 */
        margin-bottom: 24px;
    }

    .message {
        padding-inline: 0;
    }

    /* 文章 */
    .message p {
        /* 文字 */
        font-size: clamp(18px, 2vw, 24px);
        white-space: wrap;
        text-align: center;
    }

    /* --------サービス内容↑↑↑↑↑ーーーーーーーーーーー */

    /* --------対応エリア↓↓↓↓ーーーーーーーーーーー */


    /* 地域リスト */
    .area-list {
        /* 文字 */
        font-size: 24px;

        /* 余白 */
        margin: 0 auto;

        /* サイズ */
        width: fit-content;

        
    }

    /* 角丸の水色　江戸川区　浦安市　市川市 */
    .area-list li {
        /* 見た目 */
        background-color: #9FD8EF;
        border-radius: 30px;

        /* 文字 */
        text-align: center;
        font-size: 20px;

        /* サイズ */
        width: 120px;

        /* 余白 */
        padding: 5px;
        margin: 5px;
    }

    /* 東京と千葉の列 */
    .area-row {
        /* 見た目 */
        border-bottom: 2px solid #2A5596;

        /* Flex/Grid */
        gap: 0px;

            /* Flex/Grid */
    display: flex;
    justify-content: center;
    align-items: center;
    }


    /* 江戸川区、浦安市と市川市のul */
    .city-list {
        /* 見た目*/
        list-style-type: none;

        /* 余白 */
        padding: 0;
        margin: 0;

        /* Flex/Grid */
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
    }

    /* ｛浦安市｝浦安市と市川市の間を調整した */
    .area-row:last-child .city-list li:first-child {
        /* 余白 */
        margin-bottom: 0;
    }

    /* 下の※印 */
    .area-note {
        /* 文字 */
        font-size: 14px;
    }

    /* --------対応エリア↑↑↑↑↑ーーーーーーーーーーー */


    /* --------料金プラン↓↓↓↓ーーーーーーーーーーー */

        /* 料金表の全体 */
    .price {
        overflow-x: auto;
        /* 横幅超えた際の横スクロールバー */
    }

    .scroll-table {
        /* Flex/Grid */
        display: flex;

        overflow-x: auto;
        /* (横スクロール表示) */
        overflow-y: hidden;
        padding: 0;
        margin-bottom: 32px;
    }

    .scroll-text {
        /* Flex/Grid */
        display: flex;
        justify-content: center;

        /* 文字 */
        font-size: 14px;
    }

    table {
        /* Flex/Grid */
        display: table;
    }

    .scroll-table {
        /* アニメーション　（Javascriptで下から表示） */
        opacity: 0;
        transform: translate(0, 80px);
        transition: all 1s ease;
    }


    .scroll-table.show {
        /* アニメーション　（Javascriptで下から表示） */
        opacity: 1;
        transform: translate(0, 0px);
    }

  /* 一番上の列（家事代行、ペットシッター弁用） */
.plan-thead {
    /* Flex/Grid */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0px, 5vw, 5px);
    padding-block: 10px;
}


    /* セル全て */
    th,
    td {
        /* 余白 */
        padding: 0;
    }

    /* thのアイコン */
    table img {
        /* サイズ */
        width: clamp(20px, 3vw, 40px);
    }

    /* シッター＋家事 */
    .plan-text {
        /* 文字 */
        font-size: clamp(14px, 2vw, 24px);
        font-weight: 800;
    }

    /* 一番上の横列の文字（家事代行、ペットシッター弁用） */
    thead p {
        /* 文字 */
        font-size: clamp(20px, 3vw, 32px);
        
    }

    /* 一番上の横列の文字（単発、定期・月4回） */
    thead span {
        /* 文字 */
        font-size: clamp(14px, 1.8vw, 18px);
    }

    /* 〇円の大きい数字部分 */
    tbody td {
        /* 文字 */
        font-size: clamp(24px, 5vw, 40px);
    }

     /* 〇分の大きい数字部分 */
    tbody th {
        /* 文字 */
        font-size: clamp(24px, 5vw, 40px);
    }

    /* 1500円、6500円、8000円、*/
    .plan-popular-price {
        /* 文字 */
        font-size: clamp(24px, 5vw, 40px);
    }


    /* 円・分 */
    .min,
    .yen {
        /* 文字 */
        font-size: clamp(12px, 5vw, 24px);
    }

    /* ペットシッター弁用の青い部分 */
    .plan-popular {
        /* 配置（人気NO.1の親要素） */
        position: relative;
    }


    /* 人気NO.1 */
    .plan-no1 {
        /* 配置 */
        position: absolute;
        top: 20px;
        right: clamp(-10px, 5vw, -60px);

        /* サイズ */
        width: clamp(50px, 12vw, 100px);
    }


    /* その他の料金（下の水色ボックス） */
    .price-info {
        /* 文字 */
        flex-wrap: wrap;
        font-size: clamp(16px, 3vw, 24px);

        /* サイズ */
        width: 90%;

        /* 余白 */
        padding: 10px;
        margin: 0 auto;

        /* Flex/Grid */
        display: flex;
        align-items: start;
        gap: 32px;
    }

    /* 水色の四角形のli （左を開けることで四角と点々を揃えた） */
    .info-box li {
        /* 余白 */
        margin-left: 10px;
    }

    /* --------料金プラン↑↑↑↑↑ーーーーーーーーーーー */

    /* --------ご利用の流れ↓↓↓↓ーーーーーーーーーーー */

    /* （タイトル以外の下の詳細） */
    .flow-list {
        /* アニメーション　（Javascriptで下から表示） */
        display: flex;
        justify-content: center;
        gap: 0px;
        flex-wrap: wrap;
    }

    /* 詳細の小文字（文字サイズと範囲） */
    .flow-card p {
        /* 文字 */
        font-size: 16px;

        /* サイズ */
        width: 230px;
    }

    /* 矢印図形（形と文字の位置） */
    .flow-card {
        /* 図形 */
        clip-path: polygon(100% 0%, 100% 60%, 50% 76%, 0% 60%, 0% 0%, 51% 15%);

        /* サイズ */
        width: 290px;
        height: 350px;

        /* 余白 */
        margin-bottom: -90px;
        padding: 65px 0px 0px 30px;

        /* 文字 */
        text-align: left;
    }

    /* 図形と文字と数字のセット（数字の基準となる範囲と図形の間隔） */
    .flow-item {
        /* 余白 */
        margin-left: 0px;
    }

    .flow-item:first-child {
        /* 余白 */
        margin-left: 0px;
    }

    /* (01. 02. 03. 04.)の数字部分 */
    .flow-number {
        /* 文字 */
        font-size: 56px;
        font-weight: bold;
        color: #1856A2;

        /* 配置 */
        position: absolute;
        z-index: 999;
        top: -3px;
        left: 110px;
    }

    /* お問合せからサービス開始までの流れのタイトル部分)*/
    .flow-card h3 {
        /* 文字 */
        font-size: 24px;
        /* 余白 */
        margin: 10px 0;
    }

    /* --------ご利用の流れ↑↑↑↑↑ーーーーーーーーーーー */

    /* --------お問い合わせ↓↓↓↓ーーーーーーーーーーー */

    /* お問い合わせの全体 */
    #contact {
        /* 余白 */
        padding-block: 32px;
    }

    /* フッターコンテンツのお問合せの文字 */
    #contact h2 {
        /* 文字 */
        font-size: 32px;

        /* 余白 */
        margin-bottom: 56px;
    }

    /* フォームの必須 */
    form span {
        /* 文字 */
        font-size: 14px;
    }

    /* フォームの項目文字 */
    form p {
        /* 文字 */
        font-size: 18px;

        /* 余白 */
        margin-bottom: 32px;
    }

    /* ーーーーーーーーーーーーーーーーーー */
    /* ----ラジオボックス-始め-↓↓↓↓- */
    /* ーーーーーーーーーーーーーーーーーー */

    /* ラジオボックスの丸*/
    input[type="radio"] {
        /* 余白 */
        margin-right: 10px;

    }

    /* ラジオボックスの文字*/
    .contact-font {
        /* 文字 */
        font-size: clamp(14px, 2vw, 18px);

        /* 余白 */
        margin-right: 10px;
        margin-top: 10px;

        display: flex;
    }

    /* ーーーーーーーーーーーーーーーーーー */
    /* ----ラジオボックス-終わり--- */
    /* ーーーーーーーーーーーーーーーーーー */

    form {
        width: 90%;
    }

    label {
        display: block;
        width: 100%;
    }

    /* 長方形の入力ボックス */
    input:not(input[type="radio"]):not(input[type="submit"]) {
        /* サイズ */
        width: 100%;
        min-width: auto;
        height: 40px;

        /* 文字 */
        line-height: 40px;
        font-size: 16px;
    }

    /* ご相談内容 */
    textarea {
        /* サイズ */

        min-width: auto;
        height: 100px;

        /* 文字 */
        font-size: 16px;
        line-height: 1.5;
    }

    /* ーーーーーーーーーーーーーーーーーー */
    /* ----お問い合わせの送信ボタン-始め↓↓↓↓ */
    /* ーーーーーーーーーーーーーーーーーー */
    input[type="submit"] {
        /* 文字 */
        font-size: 24px;

        /* サイズ */
        width: 100%;
        min-width: auto;
        height: 50px;
    }

    .contact-buttun {
        /* サイズ */
        width: 80%;
    }

    /* ーーーーーーーーーーーーーーーーーー */
    /* ----お問い合わせの送信ボタン-終わり--- */
    /* ーーーーーーーーーーーーーーーーーー */


    /* ーーーーーーーーーーーーーーーーーー */
    /* ----時間、電話番号、定休日-始め↓↓↓ */
    /* ーーーーーーーーーーーーーーーーーー */

    /* 時間、電話番号、定休日のimg */
    #contact img {
        /* サイズ */
        width: 30px;
    }

    /* 時間、電話番号、定休日のul */
    #contact ul {
        /* 余白 */
        margin-bottom: 32px;

        /* Flex/Grid */
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

    }

    /* 時間、電話番号、定休日のli */
    #contact li {
        /* 文字 */
        font-size: 16px;
        font-weight: 500;

        /* 余白 */
        margin-bottom: 0px;

        /* Flex/Grid */
        display: flex;
        align-items: center;
        gap: 5px;
    }

    /* ーーーーーーーーーーーーーーーーーー */
    /* ----時間、電話番号、定休日-終わり--- */
    /* ーーーーーーーーーーーーーーーーーー */

    /* --------お問い合わせ↑↑↑↑↑ーーーーーーーーーーー */

    /* --------フッター↓↓↓↓ーーーーーーーーーーー */

    /* フッターナビの全体 */
    footer ul {
        /* 見た目 */
        border-top: 1px dotted #676161;
        border-bottom: 1px dotted #676161;
        background-color: #EAF9FD;
        list-style-type: none;

        /* Flex/Grid */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        /* 文字 */
        flex-wrap: wrap;

        /* 余白 */
        padding: 20px 16px;
        margin-top: 20px;
    }

    footer li {
        white-space: wrap;
    }

    /* フッターナビの矢印アイコン */
    footer img {
        /* サイズ */
        width: 20px;
    }


    /* フッターナビのクリック可能な範囲 */
    footer a {
        /* 文字 */
        font-size: 12px;

        /* Flex/Grid */
        gap: 3px;

    }

    footer p {
        /* 文字 */
        text-align: center;
        font-size: 14px;
    }

    /* --------フッター↑↑↑↑↑ーーーーーーーーーーー */

}