@charset "utf-8";
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* ----共通---- */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* リセットCSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hamburger{
    display: none;
}

.hambur-nav{
    display: none;
}


body {
    /* 文字 */
    /* font-family: 'Kiwi Maru', serif; */
    font-family: 'Noto Sans JP', sans-serif;

    /* 余白 */
    margin-top: 100px;
}

a {
    /* 文字 */
    color: black;
    text-decoration: none;

    /* Flex/Grid */
    display: block;
}

img {
    /* サイズ */
    max-width: 100%;
}

.section-title {
    /* 文字 */
    font-size: 40px;
    text-align: center;

    /* 余白 */
    margin-bottom: 56px;

    /* Flex/Grid */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    /* アニメーション （Javascriptで下から表示）（表示前）*/
    opacity: 0;
    transform: translate(0, 80px);
    transition: all 1s ease;
}

.section-title.show {
    /* アニメーション （Javascriptで下から表示）（表示後）*/
    opacity: 1;
    transform: translate(0, 0px);
}


section:not(.fv) {
    /* 余白 */
    padding-block: clamp(56px, 8vw, 96px);
}

h1,
h2 {
    /* 文字　共通の色（スプライト柄） */
    color: transparent;
    background: repeating-linear-gradient(45deg, #087ED2 0 4px, #AEE8FF 4px 6px);
    -webkit-background-clip: text;
    background-clip: text;
}

.section-title::before {
    /* 配置 */
    content: "";

    /* サイズ */
    width: 6px;
    height: 60px;

    /* 見た目 */
    background-color: #007DAF;
    border-radius: 1px;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* ----TOPへ戻るボタン---- */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.button-top {
    /* 見た目 */
    background-color: #2A5596;
    border-color: transparent;
    border-radius: 50px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, .2);

    /* 余白 */
    padding: 10px 13px;

    /* 配置 */
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;

    /* 文字 */
    color: #fff;
    font-size: 32px;

    /* Flex/Grid */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    /* アニメーション （Javascriptで下から表示）（表示前）*/
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

/* TOPへ戻るボタンの矢印 */
.button-top img {
    /* サイズ */
    width: 25px;
}

.button-top:hover {
    /* アニメーション （Javascriptで下から表示）（表示後）*/
    transform: translateY(-10px);
    transition: all 0.2s ease;
}

.button-top.show {
    /* アニメーション （Javascriptで下から表示）（表示後）*/
    opacity: 1;
    visibility: visible;
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* ----ヘッダー---- */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* ヘッダー全体（レイアウト、サイズや色と線と影、上表示） */
header {
    /* Flex/Grid */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* 文字 */
    font-weight: bold;

    /* サイズ */
    height: 100px;
    width: 100%;

    /* 見た目 */
    background-color: #ffffff;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 0px 4px 4px rgba(143, 143, 143, 0.1);

    /* 配置 */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

/* ロゴ */
.logo {
    /* サイズ */
    width: 90px;
    height: 90px;

    /* 余白 */
    padding: 5px 5px 0 10px;

    /* 縮まらない設定 */
    flex-shrink: 0;
}


/* ヘッダーのナビ全体 */
header nav {
    /* Flex/Grid */
    display: flex;
    justify-content: center;
    align-items: center;

    /* サイズ */
    height: 100%;

    margin-left: auto;
}

header ul {
    /* Flex/Grid */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 見た目 */
    list-style: none;

    /* サイズ */
    flex-wrap: nowrap;
    height: 100%;
}

header li {
    /* Flex/Grid */
    display: block;
    justify-content: space-around;
    align-items: center;

    /* 折り返しなし設定 */
    white-space: nowrap;

    /* 文字 */
    font-size: clamp(10px, 1.5vw, 21px);

    /* サイズ */
    height: 100%;
}


/* ヘッダーのナビ文字 */
header a {
    /* Flex/Grid */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    /* 余白 */
    padding-inline: 10px;

}

header nav a:not(.contact-btn){
    /* サイズ */
    height: 100%;
}


/* ホバー時の背景と文字色*/
header nav a:not(.contact-btn):hover {
    /* 見た目 */
    background-color: #1856A2;

    /* 文字 */
    color: #fff;
}

/* ホバー時のナビのアイコンと予約ボタンのアイコン */
header nav a:hover .icon-nav,
header a:hover .icon-area {
    /* 文字 */
    color: #fff;
}

/* ナビのアイコン */
.icon-nav,
.icon-area {
    /* サイズ */
    width: clamp(18px, 3vw, 35px);
    height: clamp(18px, 3vw, 35px);

    /* 文字 */
    color: #007DAF;
}

.icon-nav path {
    /* パスの太さ */
    stroke-width: 4;
}

.icon-area path {
    /* パスの太さ */
    stroke-width: 2;
}


/* ヘッダーのナビ部分の予約文字と見た目 */
.contact-btn {
    /* 見た目 */
    background-color: #F9833F;
    border-radius: 10px;

    /* 文字 */
    color: #ffffff;
    font-size: clamp(10px, 1.5vw, 21px);

    /* 余白 */
    padding: 10px 20px;
    margin-right: 5px;

    /* Flex/Grid */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /* 折り返しなし設定 */
    white-space: nowrap;

    /* アニメーション */
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* ヘッダーのナビ部分の予約アイコン */
.contact-btn svg {
    /* サイズ */
    width: clamp(18px, 2vw, 35px);

}

/* ホバー時のアニメーション */
.bg {
    /* 見た目 */
    background-color: #087ED2;

    /* サイズ */
    width: 0%;
    height: 100%;

    /* 配置 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* ----ファーストビュー（左側）---- */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* --------スクロールアニメーションーーーーー */

/* スクロールダウンの位置 */
.scroll {
    /* 文字 */
    color: #2A5596;
    font-weight: bold;
    writing-mode: vertical-rl;
    /* （縦書き） */


    /* Flex/Grid */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    /* （親要素がflexの時にこの子要素だけ配置を変える） */
    flex-grow: 0;
    /* （広がらない） */
    flex-shrink: 0;
    /* （縮まらない ）*/
    flex-basis: 10%;
    /* （親要素の10％配置） */

    /* 配置 */
    position: relative;

    /* 余白 */
    margin-bottom: 150px;
}

/* 線のアニメーション部分 */
.scroll::before {
    /* 見た目 */
    background-color: #2A5596;

    /* サイズ */
    height: 100px;
    width: 2px;

    /* 余白 */
    margin: auto;

    /* 配置 */
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
    top: 100%;

    /* アニメーション */
    animation: scroll 2s infinite;
}

/* 線の背景色 */
.scroll::after {
    /* 見た目 */
    background-color: #ccc;

    /* サイズ */
    width: 1px;
    height: 100px;

    /* 余白 */
    margin: auto;

    /* 配置 */
    top: 100%;
    /* （文字の真下に配置するため） */
    position: absolute;
    right: 0;
    left: 0;
    content: "";

}

/* 線のアニメーション */
@keyframes scroll {
    0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }

    50% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }

    /* ↓ここで左下の支点に変更により下からでる*/
    51% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}


/* ファーストビューの全体（文字と写真を横並びにした） */
.fv {
    /* サイズ */
    width: 100%;
    min-height: clamp(500px, 70vw, 900px);

    /* 余白 */
    margin: 0 auto;

    /* Flex/Grid */
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    /* 配置 */
    position: relative;
}


スクロールの位置 .fv::after {
    /* サイズ */
    width: 150px;

    /* 配置 */
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 4%;
}


/* キャッチコピー（左範囲） */
.fv-container {
    /* サイズ */
    width: 50%;

    /* 文字 */
    min-height: 100v;

    /* 余白 */
    margin-top: 56px;

    /* Flex/Grid */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* キャッチコピー（左範囲の中身） */
.fv-detail {
    /* 文字 */
    text-align: left;

    /* 配置 */
    position: relative;

    /* Flex/Grid */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    flex: 0 0 90%;
}

/* ファーストブュー文章と予約ボタン */
.fv-detail p,
.fv-detail a {
    /* アニメーション　（Javascriptで下から表示） */
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s;
}

/* ファーストブューのイラスト */
.fv-illust {
    /* 配置 */
    position: absolute;
    z-index: -3;
    bottom: 20px;
    right: -10px;

    /* サイズ */
    width: clamp(220px, 20vw, 340px);

    /* アニメーション （Javascriptで表示）*/
    opacity: 0;
    transition: opacity 1s;
}

/* キャッチコピー*/
.fv-container h1 {
    /* サイズ */
    font-size: clamp(32px, 5vw, 80px);
    white-space: nowrap;

    /* 余白 */
    margin-bottom: 20px;
}



.fv-detail h1 span {
    /* 文字（スプライト柄） */
    color: transparent;
    background: repeating-linear-gradient(45deg, #087ED2 0 4px, #AEE8FF 4px 6px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    /* Flex/Grid */
    display: block;

    /* アニメーション （Javascriptで下から表示）*/
    opacity: 0;
    transform: translateX(-200px);
    transition: all 1.5s;
}


/* fvの詳細（文字サイズ） */
.fv-container p {
    /* 文字 */
    font-size: clamp(16px, 2vw, 24px);

    /* サイズ */
    max-width: clamp(350px, 25vw, 500px);

    /* 余白 */
    margin-bottom: 56px;
}


/* fvのボタン（レイアウト、文字設定） */
.fv-a {
    /* サイズ */
    width: clamp(300px, 30vw, 350px);
    max-height: 50px;

    /* 文字 */
    font-size: clamp(24px, 2vw, 32px);
    background-color: #F9833F;
    color: #FFF8E8;
    font-weight: 500;

    /* 見た目 */
    border-color: transparent;
    border-radius: 10px;

    /* 余白 */
    padding: 30px 15px;
    padding-block: clamp(10px, 3vw, 30px);
    padding-inline: clamp(10px, 3vw, 15px);

    /* Flex/Grid */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /* 配置 */
    position: relative;
    overflow: hidden;

    /* アニメーション （ホバー前）*/
    box-shadow: 0px 4px 12px rgba(0, 0, 0, .15);
    transition: all .3s ease;
}

.fv-a:hover {
    /* アニメーション （ホバー後）*/
    box-shadow: 0px 8px 20px rgba(0, 0, 0, .2);
    transform: translateY(-5px);
}


/* fvのお問い合わせボタン */
.fv-a svg,
.btn-text {
    /* 配置 */
    position: relative;
    z-index: 2;
}

/* fvのお問い合わせボタンの移動ホバー背景*/
.fv-a .bg {
    /* サイズ */
    width: 0;
    height: 100%;

    /* 配置 */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* ----ファーストビュー（右側｛スライドショー｝）---- */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* 写真サイズ */
.slideshoe {
    /* サイズ */
    width: 50%;

    /* Flex/Grid */
    display: flex;
    align-items: stretch;
}

.slideshoe div {
    /* サイズ */
    height: 100%;
}

.slideshoe img {
    /* サイズ */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* （枠いっぱいに表示する※写真サイズと枠サイズが異なる時に表示｛塗りみたいなもん｝） */

    /* Flex/Grid */
    display: block;
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* ----ご利用にあたって---- */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* ご利用についての全体*/
.container-notice {
    /* 余白 */
    margin: 0 auto;
    padding: 56px;

    /* 見た目 */
    background-color: #faf8f5;
}

/* ご利用についての赤い外枠 */
.notice-wrap {
    /* サイズ */
    max-width: 1130px;
    border-radius: 8px;
    border: 4px dotted #BD373A;
    background-color: #fff;

    /* 余白 */
    padding: 56px 28px;
    margin: 0 auto;
}

/* ご利用についてのタイトル */
.notice-wrap h2 {
    /* 余白 */
    margin-bottom: 32px;
    margin-top: 0px;

    /* 文字 */
    font-size: 28px;
    color: black;
    text-align: center;
}

/* ご利用についての箇条書き */
.notice-wrap ul {
    /* Flex/Grid */
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px 50px;

    /* 文字 */
    flex-wrap: wrap;

    /* サイズ */
    width: fit-content;

    /* 余白 */
    margin: 0 auto;
    padding-left: 40px;
}

.notice-wrap li {
    /* 文字 */
    font-size: 16px;

    /* サイズ */
    max-width: 550px;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* ----サービス内容---- */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* カード全て */
.service-list {
    /* Flex/Grid */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

/* 青いカードと黒文字詳細をまとめたもの　*/
.card {
    /* サイズ */
    width: 198px;

    /* アニメーション （Javascriptで下から表示）*/
    opacity: 0;
    transform: translate(0, 80px);
    transition: all 1s ease;
}

.card.show {
    /* アニメーション （Javascriptで下から表示）*/
    opacity: 1;
    transform: translate(0, 0px);
}


/* 青いカードの下にある黒文字詳細 （箇条書き全体）*/
.card ul {
    /* 余白 */
    margin: 0;
    padding-left: 20px;
}


/* 青いカードの下にある黒文字詳細 （箇条書き）*/
.card li {
    /* 文字 */
    font-size: 16px;
}


/* 青いカード */
.card-top {
    /* 見た目 */
    background-color: #E4F0FF;
    border-radius: 10px;

    /* サイズ */
    width: 198px;
    height: 203px;

    /* 余白 */
    margin-bottom: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Flex/Grid */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    /* 配置 */
    position: relative;
}

/* ーーーーーーーーーーーーーーーーーー */
/* ----（ホバー時）青いカード-始め--- */
/* ーーーーーーーーーーーーーーーーーー */

/* 青いカードの全体 */
.card-hover {
    /* 見た目 */
    background-color: #1856A2;
    border-radius: 10px;

    /* サイズ */
    width: 100%;
    height: 100%;

    /* Flex/Grid */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* 余白 */
    padding-inline: 10px;

    /* 配置 */
    position: absolute;

    /* アニメーション */
    opacity: 0;
    transition: opacity 0.4s ease;
}

/* 横線と下の文字 */
.card-hover div {
    /* サイズ */
    width: 100%;

    /* 文字 */
    text-align: center;

    /* 余白 */
    margin-bottom: 10px;
}

/* 上部の詳細 */
.card-hover p {
    /* 余白 */
    margin-top: 10px;

    /* 文字 */
    color: #fff;
    text-align: center;
}

/* 横線 */
.sen {
    /* 見た目 */
    background-color: #FFF;

    /* サイズ */
    height: 2px;

    /* 余白 */
    margin-bottom: 10px;
}

/* 下の文字 */
.card-hover span {
    /* 文字 */
    font-size: 18px;
    color: #FFF;
}

/* ーーーーーーーーーーーーーーーーーー */
/* ----（ホバー時）青いカード-終わり--- */
/* ーーーーーーーーーーーーーーーーーー */

/* あなたのニーズに合わせて自由にカスタマイズ可能の全体 */
.message {
    /* Flex/Grid */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 文字 */
    font-weight: bold;

    /* サイズ */
    max-width: 750px;
    max-height: 50px;

    /* 余白 */
    margin: 56px auto;
    padding-inline: 20px;

    /* 配置 */
    position: relative;
}

/* 文章 */
.message p {
    /* 見た目 */
    border-bottom: 3px solid #007DAF;

    /* 文字 */
    font-size: clamp(16px, 4vw, 32px);
    white-space: nowrap;

    /* サイズ */
    width: fit-content;

    /* アニメーション */
    opacity: 0;
}

.message-cover {
    /* 見た目 */
    background-color: #1856A2;

    /* サイズ */
    width: 0%;
    height: 100%;

    /* 配置 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* ----対応エリア---- */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.area-items {
    /* アニメーション　（Javascriptで下から表示） */
    opacity: 0;
    transform: translate(0, 80px);
    transition: all 1s ease;
}

.area-items.show {
    /* アニメーション　（Javascriptで下から表示） */
    opacity: 1;
    transform: translate(0, 0px);
}

/* 町のイラスト */
.area-img {
    /* サイズ */
    width: 100%;
    max-width: 900px;

    /* 余白 */
    margin: 0 auto;

    /* Flex/Grid */
    display: block;

    /* アニメーション　（Javascriptで下から表示） */
    opacity: 0;
    transform: translate(0, 80px);
    transition: all 1s ease
}

.area-img.show {
    /* アニメーション　（Javascriptで下から表示） */
    opacity: 1;
    transform: translate(0, 0px);
}

/* 地域リスト */
.area-list {
    /* 文字 */
    font-size: 32px;

    /* 余白 */
    margin: 0 auto;

    /* サイズ */
    width: 480px;
}

/* 角丸の水色　江戸川区　浦安市　市川市 */
.area-list li {
    /* 見た目 */
    background-color: #9FD8EF;
    border-radius: 30px;

    /* 文字 */
    text-align: center;

    /* サイズ */
    width: 168px;

    /* 余白 */
    padding: 10px 20px;
    margin: 10px 0px;
}

/* 東京と千葉の列 */
.area-row {
    /* 見た目 */
    border-bottom: 3px solid #2A5596;

    /* Flex/Grid */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

/* 東京都と千葉の文字 */
.prefecture {
    /* サイズ */
    min-width: 100px;
}

/* 江戸川区、浦安市と市川市のul */
.city-list {
    /* 見た目*/
    list-style-type: none;

    /* 余白 */
    padding: 0;
    margin: 0;

    /* Flex/Grid */
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* 下の※印 */
.area-note {
    /* 文字 */
    font-size: 16px;
    text-align: center;

    /* 余白 */
    margin-bottom: 15px;
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* ----料金プラン----↓↓↓↓ */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
table {
    /* サイズ */
    /* 隣接するセルの枠線を重ね合わせて1本にまとめる */
    border-collapse: collapse;
    /* セル間の間隔 */
    border-spacing: 0;

    min-width: 650px;
    width: 80%;

    /* 余白 */
    margin: 32px auto;

    /* アニメーション　（Javascriptで下から表示） */
    opacity: 0;
    transform: translate(0, 80px);
    transition: all 1s ease;
}

table.show {
    /* アニメーション　（Javascriptで下から表示） */
    opacity: 1;
    transform: translate(0, 0px);
}

/* 料金表の全体 */
.price {
    overflow-x: auto;
    /* 横幅超えた際の横スクロールバー */
}

/* セル全て */
th,td {
    /* 見た目 */
    border: 1px solid #245B9C;
    /* 文字 */
    text-align: center;
    /* 余白 */
    padding: clamp(10px, 12vw, 20px);
}

/* thのアイコン */
table img {
    /* サイズ */
    width: clamp(15px, 3vw, 40px);
}


/* 最初の縦一列 */
thead th:first-child {
    /* サイズ */
    width: 15%;

    /* 見た目 */
    border: none;
    background: transparent;
}

/* 左2つ目の縦一列 */
thead th:nth-child(2) {
     /* サイズ */
    width: 23%;

    /* 見た目 */
    border-radius: 10px 0 0 0;
    border-top-color: transparent;
    border-left-color: transparent;
    background-color: #9FD8EF;
}

/* 左3つ最の縦一列 */
thead th:nth-child(3) {
    /* サイズ */
    width: 27%;

    /* 見た目 */
    background-color: #9FD8EF;
    border-top-color: transparent;
}

/* 最後の縦一列 */
thead th:last-child {
    /* サイズ */
    width: 35%;

    /* 文字 */
    color: #ffffff;

    /* 見た目 */
    background-color: #007DAF;
    border: 4px solid #F2C35E;
    border-bottom: none;
}

/* 30分のセル */
tbody tr:first-child th:first-child {
    /* 見た目 */
    border-radius: 10px 0 0 0;
    border-top-color: transparent;
    border-left-color: transparent;
}

/* 60分のセル */
tbody tr:nth-child(2) th:first-child {
    /* 見た目 */
    border-left-color: transparent;
}

/* 90分のセル */
tbody tr:last-child th:first-child {
    /* 見た目 */
    border-radius: 0 0 0 10px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    
}

/* 8000円のセル */
tbody tr:last-child td:last-child {
    /* 見た目 */
    border-bottom: 4px solid #F2C35E;
}

/* シッター＋家事 */
.plan-text {
    /* 文字 */
    font-size: clamp(12px, 2vw, 24px);
    font-weight: 800;
    white-space: nowrap;
    text-align: left;
}

/* 一番上の横列の文字（家事代行、ペットシッター弁用） */
thead p {
    /* 文字 */
    font-size: clamp(24px, 3vw, 32px);
}

/* 一番上の横列の文字（単発、定期・月4回） */
thead span {
    /* 文字 */
    font-size: clamp(12px, 1.8vw, 18px);
}

/* 〇分、〇円の大きい数字部分 */
tbody td{
    /* 文字 */
    font-size: clamp(20px, 5vw, 40px);
    font-weight: bold;
    white-space: nowrap;
}

tbody th{
    /* 文字 */
    font-size: clamp(20px, 5vw, 40px);
    font-weight: bold;
    white-space: nowrap;

    /* 見た目 */
    background-color: #9FD8EF;
}

/* 1500円、6500円、8000円、*/
.plan-popular-price{
    /* 文字 */
    font-size: clamp(20px, 5vw, 40px);
    font-weight: bold;
    color: #FF5D00;
}

/* 家事代行の料金部分の背景 */
tbody td:last-child {
    /* 見た目 */
    background-color: #FFF8E8;
    border-left: 4px solid #F2C35E;
    border-right: 4px solid #F2C35E;
}


/* 一番上の列（家事代行、ペットシッター弁用） */
.plan-thead {
    /* Flex/Grid */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0px, 5vw, 5px);
}

/* 円・分 */
.min, .yen{
    /* 文字 */
    font-size: clamp(16px, 12vw, 24px);
}

/* ペットシッター弁用の青い部分 */
.plan-popular{
    /* 配置（人気NO.1の親要素） */
    position: relative;
}

/* ペットシッター弁用 */
thead th:last-child p {
    /* サイズ */
    font-size: clamp(18px, 2.5vw, 32px);
}

/* 人気NO.1 */
.plan-no1 {
    /* 配置 */
    position: absolute;
    top: -80px;
    right: clamp(-10px, 5vw, -60px);

    /* サイズ */
    width: clamp(100px, 12vw, 150px);

    /* アニメーション */
    animation: swing 1s infinite linear;
    transform-origin: bottom center;
}

/* 人気NO.1のアニメーション */
@keyframes swing {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}


/* その他の料金（下の水色ボックス） */
.price-info {
    /* 見た目 */
    background-color: #EAF9FD;
    border-radius: 10px;

    /* 文字 */
    flex-wrap: wrap;
    font-size: clamp(16px, 3vw, 24px);

    /* サイズ */
    width: 80%;
    max-width: 1054px;
    min-height: 170px;

    /* 余白 */
    padding: 15px 30px;
    margin: 0 auto;

    /* Flex/Grid */
    display: flex;
    align-items: start;
    gap: 32px;

    /* アニメーション　（Javascriptで下から表示） */
    opacity: 0;
    transform: translate(0, 80px);
    transition: all 1s ease;
}

.price-info.show {
    /* アニメーション　（Javascriptで下から表示） */
    opacity: 1;
    transform: translate(0, 0px);
}


/* 水色の四角形のul*/
.info-box ul {
    /* 見た目 */
    list-style-position: inside;

    /* 余白 */
    padding-left: 0px;
}

/* 水色の四角形のli （左を開けることで四角と点々を揃えた） */
.info-box li {
    /* サイズ */
    max-width: 500px;
    /* 余白 */
    margin-left: 50px;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* ----ご利用の流れ---- */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* （タイトル以外の下の詳細） */
.flow-list {
    /* アニメーション　（Javascriptで下から表示） */
    display: flex;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
}

/* 詳細の小文字（文字サイズと範囲） */
.flow-card p {
    /* 文字 */
    font-size: 16px;

    /* サイズ */
    width: 230px;
}


/* 矢印図形（形と文字の位置） */
.flow-card {
    /* 図形 */
    clip-path: polygon(84% 0, 97% 49%, 85% 100%, 0% 100%, 14% 49%, 0% 0%);

    /* サイズ */
    width: 350px;
    height: 261px;

    /* 余白 */
    margin-bottom: 20px;
    padding: 60px 0px 0px 55px;

    /* 文字 */
    text-align: left;
}

/* 図形と文字と数字のセット（数字の基準となる範囲と図形の間隔） */
.flow-item {
    /* 余白 */
    margin-left: -39px;

    /* アニメーション　（Javascriptで下から表示） */
    position: relative;
    opacity: 0;
    transform: translate(0, 80px);
    transition: all 1s ease;
}

.flow-item.show {
    /* アニメーション　（Javascriptで下から表示） */
    opacity: 1;
    transform: translate(0, 0px);
}

.flow-item:first-child {
    /* 余白 */
    margin-left: 0px;
}

/* 矢印図形（01色） */
.flow-item:first-child .flow-card {
    background-color: #E2EEFC;

}

/* 矢印図形（02色） */
.flow-item:nth-child(2) .flow-card {
    background-color: #D0E6FB;
}

/* 矢印図形（03色） */
.flow-item:nth-child(3) .flow-card {
    background-color: #CDDDF7;
}

/* 矢印図形（04色） */
.flow-item:last-child .flow-card {
    background-color: #D0DEEF;
}

/* 03のh3のカーニング */
.flow-item:nth-child(3) h3 {
    letter-spacing: -0.07em;
}

/* (01. 02. 03. 04.)の数字部分 */
.flow-number {
    /* 文字 */
    font-size: 64px;
    font-weight: bold;
    color: #1856A2;

    /* 配置 */
    position: absolute;
    z-index: 999;
    top: -35px;
    left: 20px;
}

/* お問合せからサービス開始までの流れのタイトル部分)*/
.flow-card h3 {
    /* 文字 */
    font-size: 24px;
    /* 余白 */
    margin: 10px 0;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* ----お問い合わせ--↓↓↓↓ */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* お問い合わせの全体 */
#contact {
    /* Flex/Grid */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* 余白 */
    padding-block: 56px;

    /* 見た目 */
    background-color: #9FD8EF;
}

/* フッターコンテンツのお問合せの文字 */
#contact h2 {
    /* 文字 */
    font-size: 40px;
    color: black;

    /* 余白 */
    margin-bottom: 32px;
}

/* フォームの必須 */
form span {
    /* 見た目 */
    background-color: #F9833F;
    border-radius: 5px;

    /* 文字 */
    color: #fff;
    font-size: 16px;

    /* 余白 */
    margin-left: 10px;
    padding-inline: 5px;
}

/* フォームの項目文字 */
form p {
    /* 文字 */
    font-size: 32px;
    font-weight: bold;

    /* 余白 */
    margin-bottom: 32px;
}

/* ーーーーーーーーーーーーーーーーーー */
/* ----ラジオボックス-始め-↓↓↓↓- */
/* ーーーーーーーーーーーーーーーーーー */

/* ラジオボックスの丸*/
input[type="radio"] {
    /* 丸のサイズ */
    transform: scale(1.6);

    /* 余白 */
    margin-right: 5px;
}

/* ラジオボックスの文字*/
.contact-font {
    /* 文字 */
    font-size: clamp(16px, 2vw, 24px);

    /* 余白 */
    margin-right: 32px;
}

/* ーーーーーーーーーーーーーーーーーー */
/* ----ラジオボックス-終わり--- */
/* ーーーーーーーーーーーーーーーーーー */


/* 長方形の入力ボックス */
input:not(input[type="radio"]):not(input[type="submit"]) {
    /* サイズ */
    width: 100%;
    min-width: 500px;
    height: 40px;

    /* 余白 */
    padding: 0 10px;

    /* 文字 */
    line-height: 40px;
    font-size: 16px;
}

/* ご相談内容 */
textarea {
    /* サイズ */
    width: 100%;
    min-width: 500px;
    height: 100px;

    /* 余白 */
    padding: 0 10px;

    /* 文字 */
    font-size: 16px;
    line-height: 1.5;
}

/* 全項目の入力欄の例文 */
textarea::placeholder,
input::placeholder {
    /* 文字 */
    font-size: 16px;
}

/* ーーーーーーーーーーーーーーーーーー */
/* ----お問い合わせの送信ボタン-始め↓↓↓↓ */
/* ーーーーーーーーーーーーーーーーーー */
input[type="submit"] {
    /* 見た目 */
    background-color: transparent;
    border-color: transparent;
    text-align: center;

    /* 文字 */
    color: #fff;
    font-size: 24px;

    /* サイズ */
    width: 500px;
    height: 50px;

    /* Flex/Grid */
    display: block;
    margin: 0 auto;

    /* 配置 */
    position: relative;
    z-index: 2;
    
}

.contact-buttun {
    /* 見た目 */
    background-color: #F9833F;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, .15);
    border-radius: 50px;

    /* 配置 */
    position: relative;
    overflow: hidden;

    /* アニメーション　（Javascriptで下から表示） */
    transition: all .3s ease;
}

.contact-buttun:hover {
    /* アニメーション　（Javascriptで下から表示） */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, .2);
    transform: translateY(-3px);
}

.contact-buttun .bg {
    /* 配置 */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    /* サイズ */
    width: 0;
    height: 100%;
}

/* ーーーーーーーーーーーーーーーーーー */
/* ----お問い合わせの送信ボタン-終わり--- */
/* ーーーーーーーーーーーーーーーーーー */



/* ーーーーーーーーーーーーーーーーーー */
/* ----時間、電話番号、定休日-始め↓↓↓ */
/* ーーーーーーーーーーーーーーーーーー */

/* 時間、電話番号、定休日のimg */
#contact img {
    /* サイズ */
    width: 30px;
}

/* 時間、電話番号、定休日のul */
#contact ul {
    /* 余白 */
    margin-bottom: 32px;

    /* Flex/Grid */
    display: flex;
    justify-content: center;
    gap: 20px;

}

/* 時間、電話番号、定休日のli */
#contact li {
    /* 文字 */
    list-style-type: none;
    font-size: 24px;
    font-weight: 500;

    /* 余白 */
    margin-bottom: 10px;

    /* Flex/Grid */
    display: flex;
    align-items: center;
    gap: 5px;
}

/* ーーーーーーーーーーーーーーーーーー */
/* ----時間、電話番号、定休日-終わり--- */
/* ーーーーーーーーーーーーーーーーーー */

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* ----フッターナビ---- */↓↓↓
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* フッターナビの全体 */
footer nav{
    /* Flex/Grid */
    display: none;  
}

footer ul{
     /* 見た目 */
    border-top: 1px dotted #676161;
    border-bottom: 1px dotted #676161;
    background-color: #EAF9FD;
    list-style-type: none;
    
    /* Flex/Grid */
    display: flex;
    justify-content: center;
    gap: 20px;

    /* 文字 */
    flex-wrap: wrap;

    /* 余白 */
    padding: 20px 0px;
    margin-top: 20px;
}

footer li{
    white-space: nowrap;
}

/* フッターナビの矢印アイコン */
footer img {
    /* サイズ */
    width: 30px;
}


/* フッターナビのクリック可能な範囲 */
footer a {
    /* 文字 */
    font-size: 16px;

    /* Flex/Grid */
    display: flex;
    align-items: center;
    gap: 8px;
    
}

footer p{
    /* 文字 */
    text-align: center;
}