/*--- 共通----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Kiwi Maru', serif; */
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0px 120px;
    padding-top: 120px;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
    display: block;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 56px;
    margin-top: 56px;
    color: #0c6680;
}

section{
    margin: 56px 0;
}

/* ---ヘッダー--- */
header {
    background-color: #ffffff;
    padding: 20px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 0px 4px 4px rgba(143, 143, 143, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;


}


/* （ヘッダーのナビ全体） */
.header-nav {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

/* ヘッダーのナビ文字 */
.header-nav a {
    font-size: 20px;
    align-items: center;

}

/* ヘッダーのナビ部分の予約アイコン */
.contact-btn {
    background-color: #F9833F;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    display: block;

}

/* ----ファーストビュー--- */

/* ---ご利用にあたって--- */


/* ご利用についての赤い外枠 */
.notice-wrap {
    padding: 40px 0px;
    border-radius: 8px;
    border: 4px dotted #BD373A;
    padding: 56px 28px;
    margin: 56px 0px;
}

/* ご利用についてのタイトル */
.notice-wrap h2 {
    margin-bottom: 32px;
    font-size: 28px;
    margin-top: 0px;
    color: black;
}

/* ご利用についての箇条書き */
.notice-wrap ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
    flex-wrap: wrap;
    justify-items: start;
    margin: 0 auto;
    width: fit-content;
}

/* ご利用についての箇条書き */
.notice-wrap li {
    font-size: 16px;
}

/* -------------サービス内容---- */


/* タイトル以外のカード全て */
.service-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

/* 青いカードと黒文字詳細をまとめたもの　*/
.card {
    width: 198px;
}


/* 青いカードの下にある黒文字詳細 （箇条書き全体）*/
.card ul {
    margin: 0;
    padding-left: 20px;
}


/* 青いカードの下にある黒文字詳細 （箇条書き）*/
.card li {
    font-size: 16px;
}


/* 青いカード */
.card-top {
    background-color: #E4F0FF;
    width: 198px;
    height: 203px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* あなたのニーズに合わせて自由にカスタマイズ可能 */
.message {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid #007DAF;
}





/* ---対応エリア--- */

/* 地域リスト */
.area-list {
    font-size: 32px;
    margin: 0 auto;
    width: 480px;
}

/* 角丸の水色　江戸川区　浦安市　市川市 */
.area-list li {
    background-color: #9FD8EF;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 10px 0px;
    width: 168px;
    text-align: center;
}

/* 東京と千葉の列 */
.area-row {
    border-bottom: 3px solid #2A5596;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;

}

/* 東京都と千葉の文字 */
.prefecture {
    min-width: 100px;
}

/* （家のイラスト） */
.area img {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: 0 auto;


}

/* 江戸川区、浦安市と市川市のul */
.city-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;

}


/* 下の※印 */
.area-note {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}



/* ↓---料金プラン--- */

/* 料金プランのアイコン */




table {
    margin: 32px auto;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    border: 1px solid #245B9C;
    text-align: center;
    padding: auto 30px;
}

thead th:first-child {
    width: 168px;
    border: none;
    background: transparent;
}

thead th:nth-child(2) {
    width: 300px;
    border-radius: 10px 0 0 0;
    border-top-color: transparent;
    border-left-color: transparent;
}

thead th:nth-child(3) {
    border-top-color: transparent;
}

tbody tr:first-child th:first-child {
    border-radius: 10px 0 0 0;
}

thead th:nth-child(3) {
    width: 349px;
}

thead th:last-child {

    color: #ffffff;
    background-color: #007DAF;
    border: 4px solid #F2C35E;
    border-bottom: none;

}

thead th:last-child p {
    font-size: 32px;
}

tbody tr:first-child th:first-child {
    border-radius: 10px 0 0 0;
    border-top-color: transparent;
    border-left-color: transparent;
}

tbody tr:nth-child(2) th:first-child {
    border-left-color: transparent;
}

tbody tr:last-child th:first-child {
    border-radius: 0 0 0 10px;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.plan-text {
    text-align: left;
}

thead th {
    padding: 20px;
}

thead p {
    font-size: 36px;
}

thead span {
    font-size: 24px;
}

tbody td,
tbody th {
    font-size: 40px;
}

.plan-price {
    font-size: 40px;
    color: #FF5D00;

}

tbody td:last-child {
    background-color: #FFF8E8;
}

tbody th,
thead th:nth-child(2),
thead th:nth-child(3) {
    background-color: #9FD8EF;
}

.plan-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}


tbody span {
    font-size: 32px;
}

.recommend {
    position: relative;
}

.badge {
    position: absolute;
    top: -90px;
    right: -60px;
    width: 150px;
}


/* 黄色の枠線 */
thead th:last-child,
tbody td:last-child {
    border-left: 4px solid #F2C35E;
    border-right: 4px solid #F2C35E;
}

tbody tr:last-child td:last-child {
    border-bottom: 4px solid #F2C35E;
    border-radius: 0 0 16px 16px;
}



/* その他の料金（下の水色ボックス） */
.price-info {
    background-color: #EAF9FD;
    width: 100%;
    max-width: 1054px;
    min-height: 170px;
    padding: 15px 30px;
    margin: 0 auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 40px;
    align-items: start;
    flex-wrap: wrap;
    font-size: 24px;
}

.info-box:nth-child(3) {
    grid-column: 2;
    margin-top: -50px;
}

（水色の四角形のli） .info-box ul {
    padding-left: 0px;
    list-style-position: inside;
}

.info-box li {
    margin-left: 50px;
}





/* ---ご利用の流れ--- */
/* 
（タイトル以外の下の詳細） */
.flow-list {
    display: flex;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
}

/* 詳細の小文字（文字サイズと範囲） */
.flow-card p{
    font-size: 16px;
    width: 230px;
}


/* 矢印図形（形と文字の位置） */
.flow-card{
    clip-path: polygon(84% 0, 97% 49%, 85% 100%, 0% 100%, 14% 49%, 0% 0%);
    width: 350px;
    height: 261px;

    text-align: left;
    padding: 60px 0px 0px 55px;
}

/* 図形と文字と数字のセット（数字の基準となる範囲と図形の間隔） */
.flow-item{
     position: relative;
      margin-left: -39px;
}

.flow-item:first-child{
    margin-left: 0px;
}


 /* 矢印図形（01色） */
.flow-item:first-child .flow-card{
    background-color: #E2EEFC;
    
}

 /* 矢印図形（02色） */
.flow-item:nth-child(2) .flow-card{
    background-color: #D0E6FB;
}

 /* 矢印図形（03色） */
.flow-item:nth-child(3) .flow-card{
    background-color: #CDDDF7;
}

 /* 矢印図形（04色） */
.flow-item:last-child .flow-card{
    background-color: #D0DEEF;
}


/* 03のh3のカーニング */
.flow-item:nth-child(3) h3{
    letter-spacing: -0.07em;
}




/* (01. 02. 03. 04.)の数字部分 */
.flow-number {
    font-size: 64px;
    font-weight: bold;
    color: #1856A2;
    position: absolute;
    z-index: 999;
    top: -35px;
    left: 20px;
}

/* (お問合せからサービス開始までの流れのタイトル部分) */
.flow-card h3 {
    font-size: 24px;
    margin: 10px 0;
}

/* ---お問い合わせ ---*/

/* フッターコンテンツの全体 */
.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 25px;
    background-color: #9FD8EF;
}


/* フッターコンテンツのお問合せの文字 */
.footer-contact h2 {
    font-size: 40px;
}


/* フッターコンテンツのアイコン */
.footer-contact img {
    width: 46px;
}

/* 時間、電話番号、定休日のli */
.footer-contact li {
    list-style-type: none;
    font-size: 28px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

/* フッターコンテンツの文章部分 */
.footer-contact p {
    font-size: 24px;
}


/* フッターコンテンツの予約ボタン */
.footer-btn {
    background-color: #F9833F;
    color: #ffffff;
    font-size: 32px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* フッターナビ ---------------*/

/* フッターナビの全体 */
.footer-nav {

    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 0px;
    margin-top: 56px;
    border-top: 1px dotted #676161;
    border-bottom: 1px dotted #676161;
    background-color: #EAF9FD;
    flex-wrap: wrap;
}

/* フッターナビの矢印アイコン */
.footer-nav img {
    width: 30px;

}


/* フッターナビのクリック可能な範囲 */
.footer-nav a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

/* スマホ表示 */

@media screen and (min-width: 1000px) {
    /* .header-nav {
        display: none;
    } */
}