/*--- 共通----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Kiwi Maru', serif; */
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0px 120px;
}

a {
    color: black;
    text-decoration: none;
    display: block;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 56px;
    color: #0c6680;
}

/* ---ヘッダー--- */
header {
    background-color: #ffffff;
    padding: 20px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.header-nav {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

/* ----ファーストビュー--- */

/* ---ご利用にあたって--- */

.notice-wrap {
    padding: 40px 0px;
    border-radius: 8px;
    border: 4px dotted #BD373A;
    padding: 56px 28px;
    margin: 56px 155px;
}

.notice-wrap h2 {
    margin-bottom: 16px;
    
    font-size: 28px;
    color: black;
}

.notice-wrap ul {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 10px 20px;
       justify-items: start;
       margin: 0 auto;
       width: fit-content;
}

.notice-wrap li{
    font-size: 16px;
}

/* ---サービス内容---- */

/* ---対応エリア--- */

/* ---料金プラン--- */

/* ---ご利用の流れ--- */

/* ---お問い合わせ ---*/

/*---フッター ---*/

/* フッターコンテンツ */
.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 25px;
    background-color: #9FD8EF;
}

.footer-contact h2 {
    font-size: 40px;
}

.footer-contact img {
    width: 46px;
}

.footer-contact li {
    list-style-type: none;
    font-size: 28px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-contact p {
    font-size: 24px;
}

.footer-btn {
    background-color: #F9833F;
    color: #ffffff;
    font-size: 32px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* フッターナビ */
.footer-nav {

    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 0px;
    margin-top: 56px;
    border-top: 1px dotted #676161;
    border-bottom: 1px dotted #676161;
    background-color: #EAF9FD;
}

.footer-nav img {
    width: 30px;

}

.footer-nav a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

/* スマホ表示 */

@media screen and (min-width: 1000px) {
    /* .header-nav {
        display: none;
    } */
}